--extra-index-url https://lcdp.jfrog.io/artifactory/api/pypi/lcdp-pypi-release-local/simple
--extra-index-url https://lcdp.jfrog.io/artifactory/api/pypi/lcdp-pypi-dev-local/simple

lcdp-api==1.2.5
python-openapi-generator-cli==1.1.1
python-rest-client-codegen==1.1.1