name: Run python Test
on:
  push:
    branches:
      - 'develop'
      - 'feature/**'
      - 'bugfix/**'
      - 'hotfix/**'
jobs:
  Test_application:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - uses: actions/cache@v4
        if: startsWith(runner.os, 'Linux')
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libjpeg-dev zlib1g-dev
      - name: Install dependencies
        run: | 
          pip install -r requirements.txt \
            --extra-index-url https://${{ secrets.DEV_DEPLOY_GEMFURY_TOKEN }}:@pypi.fury.io/lcdp/
      - name: Prepare app
        run: python prepare.py
      - name: Run tests
        run: python -m nose2 tests -v